[2020-06-10 09:29] mmindje opened #1 "Sending Data set tracker template filling"
Here, we need to assure all acquired data set are informed in the template sent by Helen for the data set tracker.

[2020-06-10 09:31] helendallas opened #2 "GitHub meeting"
First Github meeting with @mmindje
Set up repository, set up project, create issue/ticket

[2020-06-10 09:47] mmindje opened #3 "Filling in the data set tracker template"

[2020-06-10 09:48] mmindje commented on #3
@Thacien1 The data set tracker template should also take into consideration inputs from Matthew.
We need to revise what we already did and add Data ID

[2020-06-10 09:51] Thacien1 commented on #1
Yes Dear Mapendo. We will do that Asap!.
Thank you

[2020-06-10 09:53] mmindje opened #4 "Populate Fish Data Template"

[2020-06-10 09:54] Thacien1 commented on #3
Great, thank you

[2020-06-10 09:54] mmindje commented on #4
We need to also think on populating the data records in the template

[2020-06-10 09:55] mmindje opened #5 "Populate Birds Data Master list"

[2020-06-10 09:59] mmindje opened #6 "Populate Amphibian occurence Data Template"

[2020-06-10 10:06] mmindje opened #7 "Populate Odonate Master list development"

[2020-06-10 10:09] mmindje opened #8 "Populate Macro-invertebrate Data Template"

[2020-06-10 10:10] mmindje opened #9 "Populate Algae Data Template"

[2020-06-10 10:10] mmindje opened #10 "Populate Plants Data Template"

[2020-06-10 10:17] mmindje commented on #1
@helendallas we are waiting for your comments on the data set tracker template already filled with biodiversity data so that we plan ahead. maybe another quick session on filling the specific Taxa data the we start populating them.

[2020-06-10 12:36] helendallas commented on #1
@mmindje
I have gone through the data set tracker and added comments in blue. I will also send by email.

[RBIS DataSet Tracker Template - DataTeamReview_HD.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4758435/RBIS.DataSet.Tracker.Template.-.DataTeamReview_HD.xlsx)

[2020-06-11 06:56] mmindje commented on #3
Hello Team, we have already got an email from Helen to work on the data set tracker template again.

Msg from Helen

- Before populating any template – you need to modify each template based on an understanding of the data. I suggest that you include a ticket for each Data Upload Template that needs to be modified and prioritize based on the tracker – this needs to precede the population of the da

[2020-06-11 08:24] mmindje opened #11 "Create RBIS Master List of Taxa"

[2020-06-13 13:46] mmindje commented on #11
A master list of each Taxa is needed.

Our priority shall be birds @Thacien

[2020-06-13 14:06] mmindje opened #12 "GBIF data tracking"
@helendallas do we need to work on the GBID data?

[2020-06-13 14:30] mmindje commented on #3
#GBIF data are harvested Yes! do we need to clean them? or should we work on these types of data @helendallas

[2020-06-13 15:37] Thacien1 commented on #11
Sure! Thanks

[2020-06-13 17:34] mmindje commented on #5
We need to know how to fill the remaining fields @helendallas . An email has been sent with the filled templates with the right side of columns empty. We need assistance

Here is a screenshot of the right part of the template
![master list fields](https://user-images.githubusercontent.com/64961274/84575345-b623c880-adac-11ea-8123-657e9b957e74.JPG)

[2020-06-13 17:39] mmindje commented on #11
#Birds D1, D3 already done.

After Hellen has given comments we shall go-ahead with other taxa as you are doing it with Daniel @Thacien1

[2020-06-13 17:42] mmindje commented on #1
@helendallas
Email received. We revised and sent back to you for further comments if any
we were wondering if the GBIF data can still be incorporated or we just skip GBIF data?

[2020-06-15 06:49] helendallas commented on #3
@mmindje The data I sent you from GBIF are the species lists, to be used as a starting point to generate your Master Lists of Taxa for each group.
This is not the GBIF data - that still needs to be done once the Master lists have been created.

[2020-06-15 07:18] helendallas commented on #5
First step is to take the GBIF Bird species I sent you - attached here - and extract and edit into the correct columns on the Master List of Bird Taxa.xls.   You also need to assign the taxonomic rank to each. species (most will be species for birds).

See here to get the GBIF link for each species:
![image](https://user-images.githubusercontent.com/45286876/84627206-c17b0f00-aee6-11ea-9ab8-968cb2

[2020-06-15 07:21] helendallas commented on #12
To do be able to upload biodiversity data for any taxonomic group you need a Master List of species for the group.  The GBIF data I sent you for a few groups are species lists of taxa per group harvested from GBIF. This can be used as a starting point for generating the master list of taxa for each Group.

The data set tracker is used for listing, managing and reporting on progress of each dataset

[2020-06-15 07:23] helendallas commented on #1
@mmindje Please see ticket #12 re GBIF data

Also this ticket should remain open as it is active until all your data sets are completed.

[2020-06-19 14:56] mmindje commented on #5
Thank you @helendallas
The team lead by @Thacien1 is working in the master list to fill in the remaining information

[2020-06-19 15:41] mmindje commented on #5
We have set a deadline on Tuesday 23rd June to have the master list ready. What will be missing are the local names. @mmindje IS TO LOOK FOR THIS with local birds experts and the rest of the team working on the remaining columns

[2020-06-22 06:24] Thacien1 commented on #5
Thank you @helendallas. The team is working on this.

[2020-06-22 06:29] Thacien1 commented on #5
Dear @helendallas , we (team) are working on  this. Hope to get back to you by tomorrow.

Thank you

[2020-06-22 06:42] helendallas commented on #5
@Thacien1 Perhaps you can give us an update and share your screen at todays meeting @09h00.

[2020-06-22 07:39] helendallas commented on #5
Rema Bird Document - Team to refer to it.  @mmindje to obtain from Beth
@mmindje you should add elias and beth to the repository so we can tag them for speciefic requests

[2020-06-22 08:24] helendallas commented on #5
Notes from RBIS Bird Master list discussion:

For RBIS   team
1. Only one record (row) per species on   the master list
2. Check if species is on GBIF: yes/No;   If No, then just include taxanomic hierarchy
3. Add GBIF Link GBIF for each species   (https://www.gbif.org/species/2480610)
4. Change source to the actual study   reference, source of the data e.g. checklist
5. Add Scientific authority c

[2020-06-22 08:26] helendallas commented on #5
@revised excel file of Master list of bird species attached - and also sent by email to @Thacien1 @mmindje

[RBIS Master List of Taxa_Birds_BDMT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4812096/RBIS.Master.List.of.Taxa_Birds_BDMT.xlsx)

[2020-06-22 08:28] mmindje commented on #11
I think now @DanielIgirimbabazi Can join the team

[2020-06-22 08:41] mmindje commented on #5
I think now @DanielIgirimbabazi can join

[2020-06-22 08:44] DanielIgirimbabazi commented on #5
Happy to join, let's get things done!

[2020-06-22 08:45] mmindje commented on #5
Yes. This is very clear now @helendallas

[2020-06-22 10:20] mmindje commented on #5
@DanielIgirimbabazi, @Thacien1 and @Deborahcyu this link will help us get our shared task https://drive.google.com/drive/folders/1eCv_-VkWGnmLDCMzmeGnWPts-FPT9IpS

[2020-06-23 06:34] helendallas commented on #5
@Thacien1 Please also check the taxonomy all the way from Kingdom to species in your Master list, and change it to match GBIF if different - spelling is important and the higher taxonomy should match what is on GBIF.  For genus you just need the actual genus not the scientific authority as well.

![image](https://user-images.githubusercontent.com/45286876/85368727-12fd4c80-b52c-11ea-8457-6f830d0ae

[2020-06-23 08:40] Thacien1 commented on #5
Excellent! Thank you so much @helendallas

[2020-06-23 08:42] Thacien1 commented on #5
Thank you @helendallas ,
This is excellent!

[2020-06-25 08:00] helendallas opened #13 "Populate Bird data template"
@mmindje We need to have a meeting to modify the Data Upload Template for birds, so that the RBIS team can begin capturing bird data

[2020-06-25 08:02] helendallas commented on #11
Please see #5 for Bird Master List, and #13 for Bird data

[2020-06-28 09:33] mmindje commented on #5
@DanielIgirimbabazi look at the ticket #5 to compare with the information already in the google sheet

[2020-06-28 12:07] Thacien1 commented on #5
Thank you @mmindje

[2020-06-29 06:55] mmindje commented on #5
@helendallas , the team has already made the attached Birds Master List but still three columns *(Synonyms, old scientific names and Kinyarwanda names) still pending for reasons we shall need to discuss in our meeting today at 9hAM.

**File:** [RBIS.Master.List.of.Taxa_Birds_BDMT on 26June 2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4844226/RBIS.Master.List.of.Taxa_Birds_B

[2020-06-29 08:49] helendallas commented on #13
@mmindje

Here is the RBIS Bird Data 26June2020.xlsx from today's session.  As mentioned, the RBIS data team can now customise the RBIS Bird Data upload template according to the bird data that you have.  Specifically, you can delete any columns that are not required.

Then add all bird occurrence records to the RBIS Bird Data file.

[RBIS Bird Data 26June2020.xlsx](https://github.com/mmindje/Data

[2020-06-29 09:00] Thacien1 commented on #5
Hello Team, The attached is the final RBIS filled master-list for Birds on 29 June 2020. The remaining field is for Kinyarwanda names.

[RBIS.Master.List.of.Taxa_Birds_BDMT.on.1July.2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4856446/RBIS.Master.List.of.Taxa_Birds_BDMT.on.1July.2020.xlsx)

[2020-06-29 09:00] mmindje commented on #5
perfect thank you @Thacien1

[2020-06-29 10:10] mmindje commented on #13
Thank you @helendallas , the team is already working on the bird data template.

[2020-06-30 09:51] mmindje commented on #5
Thank you a lot @Thacien1 we should incorporate the bids names in Kinyarwanda
Check the attachment below: @DanielIgirimbabazi may you go ahead and add the Kinyarwanda names, if you get some times or if not, let me know to also get sometimes.
[Kinyarwanda bird names.docx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4850930/Kinyarwanda.bird.names.docx)

[2020-07-02 08:02] #2 closed, assigned to helendallas, mmindje

[2020-07-02 10:18] helendallas commented on #13
@mmindje Perhaps send me back the RBIS Bird data upload template once you have customised it, for a quick check. I Ideally with some of the bird data captured so that I can check on formats etc before you go to far.

[2020-07-02 10:28] mmindje commented on #13
Sure, @Thacien1 can you send the template to Hellen
Thank you

[2020-07-02 12:35] Thacien1 commented on #13
Dear @helendallas ,
Here is a bird data upload template. Thank you
[RBIS.Bird.Data. 2 July 2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4864226/RBIS.Bird.Data.2.July.2020.xlsx)

[2020-07-03 06:25] helendallas commented on #13
@Thacien1  @mmindje

Thanks for the data file. Remember it is not necessary to add GBIF data to this file. That will be harvested directly from GBIF and served as optional data to add.

You should ony focus on the other bird datasets that you have for Rwanda.

![image](https://user-images.githubusercontent.com/45286876/86438366-ae4da900-bd06-11ea-8618-a8eeeb643bcb.png)

[2020-07-03 06:40] DanielIgirimbabazi commented on #13
Thanks @helendallas , information well noted!

[2020-07-07 08:45] mmindje commented on #13
@helendallas may you organize for us a session to go through again the bird occurrence data template. We are confused on some issues that need clarification
Thank you

[2020-07-07 09:00] helendallas commented on #13
@mmindje Sure no problem, I can manage at 14h00 today if that suits you.

Please send me the bird data that you need to add to the template. so the following datasets from your DataSet Tracker.

Birds   from Mukungwa  and Lake Kivu catchments | D1
Lake   Gaharwa birds | D3

[2020-07-07 09:14] mmindje commented on #13
Thank you @helendallas well, today we shall be having another staff meeting at the time.
Is that possible for we can do the meeting at 10h00 Am tomorrow?

The team shall attach the files as requested.

@DanielIgirimbabazi can you attach the data?
Thank you

[2020-07-07 09:37] DanielIgirimbabazi commented on #13
[LakeKivu_Bird_2019_CoEB_Checklist_data.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4883937/LakeKivu_Bird_2019_CoEB_Checklist_data.xlsx)
[Rugezi lake&swamp_Birds_Checklist.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4883940/Rugezi.lake.swamp_Birds_Checklist.xlsx)
[Rwanda birding club_14 Feb 2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files

[2020-07-07 10:06] helendallas commented on #13
@mmindje Sorry I am not available tomorrow. Lets aim to go through it after our 10h00 RBIS meeting on thursday, we can remain on the  meeting as a smaller group and work through it. Thanks for the data, I will familiarise myself with it in the meanwhile.

[2020-07-07 12:38] mmindje commented on #13
Yes, that is also fine @helendallas

[2020-07-09 07:34] helendallas commented on #3
@mmindje Please can you attach the latest DataSet Tracker here

[2020-07-09 07:45] mmindje commented on #3
Yes, Helen,
See the one attached
[RBIS.DataSet.Tracker.Template.-.DataTeamReview_BDMT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4895261/RBIS.DataSet.Tracker.Template.-.DataTeamReview_BDMT.xlsx)

[2020-07-09 09:28] helendallas commented on #13
@mmindje @DanielIgirimbabazi @Thacien1
I found a more recent checklist of A checklist by Gaël R. Vande weghe* | October 2018 using Google. Not sure if you are aware of this more recent publication. You might want to check this as well.
[Birds-of-Rwanda-GVande-weghe-2018.pdf](https://github.com/mmindje/Data-management-FRC-RBIS/files/4895287/Birds-of-Rwanda-GVande-weghe-2018.pdf)

[2020-07-09 10:20] helendallas commented on #5
@mmindje @Thacien1 Please can you kindly share the Final Bird Master List so that I can check it and we can forward to Dimas. Thanks

[2020-07-09 10:43] Thacien1 commented on #5
Dear @helendallas , kindly receive the Final Bird Master List file.
Warm regards,
Thacien
[Final.RBIS.Master.List.of.Taxa_Birds_BDMT.on.9July.2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4896191/Final.RBIS.Master.List.of.Taxa_Birds_BDMT.on.9July.2020.xlsx)

[2020-07-10 13:42] mmindje commented on #13
Hi @Thacien1, The attached file is the one I presented yesterday and can be used to develop the occurrence bird data
[RBIS.Bird.Data.2.July.2020 This one to be used.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4903392/RBIS.Bird.Data.2.July.2020.This.one.to.be.used.xlsx)

[2020-07-13 09:29] mmindje commented on #13
Hello @helendallas , the screenshot here needs again some clarification
![image](https://user-images.githubusercontent.com/64961274/87288687-f9806c80-c4fb-11ea-85a6-34654a840910.png)

The Author (s) is this the original authority for the Birds or the author of the publication?

[2020-07-13 09:45] helendallas commented on #13
@mmindje  You need to add the Author(s) when the  Reference Category is Peer-reviewed scientific article, report, thesis. Not needed for Database or unpublished data.

See 5 Managing citations and documents of the report I prepared for further details on managing metadata.

[2020-07-13 12:53] Thacien1 commented on #13
Dear @helendallas ,
Kindly receive the updated Bird data file the Biodiversity Data Management Team (BDMT) has been working on.
We are looking forward for your comments. Thank you

[RBIS.Bird.Data.13.July.2020_ Data team edits.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4912522/RBIS.Bird.Data.13.July.2020_.Data.team.edits.xlsx)

[2020-07-14 09:38] helendallas commented on #13
@Thacien1
Almost there: I have done a few final edits and renamed the file:
**RBIS Bird Data 14 July 2020**

Some notes for this and future data files:

- Checked capitals for names - changed: Jean Pierre Vande **W**eghe and Gaël Ruboneka
- Author(s) need to be **Surname Initials**, so I have changed to **Vande Weghe JP and Ruboneka G**
- Year - this should be the year the report was published -

[2020-07-14 10:25] Thacien1 commented on #13
Thank you @helendallas for the comments and advises on future data files.

Best, Thacien

[2020-07-14 12:50] helendallas opened #14 "Check Google Scholar for additional bird data"
@mmindje @Thacien1 @DanielIgirimbabazi @Deborahcyu

I wanted to encourage you to search using Google Scholar to discover additional Bird related publications that could be added to your Bird data file.

The RBIS design allows for data tracking over time, and one of the indicators of biodiversity includes how bird populations have changed over time.  It is thus useful to include additional data poi

[2020-07-14 15:04] Thacien1 commented on #14
Dear @helendallas , Thank you so much for this perfect comment. We will also do the same for the remaining taxa. Message has noted well with many thanks.

Warm regards,
Thacien

[2020-07-14 16:23] DanielIgirimbabazi commented on #14
Thank you for this great tip @helendallas , we are going to put it into consideration indeed!
Regards,
Daniel

[2020-07-15 06:12] helendallas opened #15 "Process for adding Study reference/metadata into Data files for ingestion to RBIS"
@mmindje @Thacien1 @DanielIgirimbabazi @Deborahcyu

For guidance about adding information to columns related to the Study Reference, please find details below. When adding the following, these columns need to be populated:

**Peer-reviewed scientific article**
Collector/Owner; Collector/Owner Institute; Author(s); Year; Source; Title;  DOI or URL (if DOI is not available)
For  **Peer-reviewed scie

[2020-07-15 06:48] Thacien1 commented on #15
Alright. Thank you so much dear @helendallas .

[2020-07-15 07:57] Thacien1 commented on #15
Alright. Thank you so much dear @helendallas .

[2020-07-16 08:43] mmindje commented on #6
The anurans/Amphibians is the next taxon to be worked on.

[2020-07-16 08:58] Thacien1 commented on #6
Yes @mmindje,  ASAP!

[2020-07-17 15:45] DanielIgirimbabazi commented on #6
To kick off this one on Monday!

[2020-07-17 15:48] Thacien1 commented on #6
If you are available, we can plan a meeting on Sunday.

[2020-07-17 15:50] DanielIgirimbabazi commented on #6
Sure! I can be available, let's hear from others

[2020-07-17 17:49] mmindje commented on #6
On Sunday, I cannot make it. Maybe we can see on Monday 20th at 10h.

if agree we can meet at https://meet.google.com/ork-cuah-tam with @DanielIgirimbabazi @Thacien1 @Deborahcyu

[2020-07-17 20:00] Thacien1 commented on #6
Okay my Sir. No problem. See you on Monday.

[2020-07-20 09:38] mmindje commented on #7
Hi All @Thacien1 @DanielIgirimbabazi @Deborahcyu
I am on this point:
As we had earlier discussed, we said we can go ahead with ANurans but I think let us first start with Odonates and Anuran next. This is because Anurans data are still to be extracted from other sources and decided about all information.

@helendallas We have decided to work on odonates master list and occurrence data prior to anu

[2020-07-23 15:27] helendallas commented on #7
@mmindje Thanks for the update. It seems like the team is progressing well with the odonates

[2020-07-24 07:46] coeb1 commented on #7
Yes. So far so good with the master list, then we will keep ahead with the Occurrence records

[2020-07-26 14:53] mmindje opened #16 "Odonates occurence data development"

[2020-07-26 14:54] #11 closed, assigned to helendallas, DanielIgirimbabazi, Deborahcyu, Thacien1

[2020-07-26 14:55] Thacien1 commented on #7
Hello Team,

Have a look on Odonates species master-list file.
[RBIS.Master.List.of.Taxa_Odonates_BDMT _ 26.7. 2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4977805/RBIS.Master.List.of.Taxa_Odonates_BDMT._.26.7.2020.xlsx)

Thank you

[2020-07-26 14:57] Thacien1 commented on #16
Odonates data file is attached.
Thank you.
[RBIS.Odonates.Data.26.July.2020._BDMT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4977814/RBIS.Odonates.Data.26.July.2020._BDMT.xlsx)

[2020-07-27 06:08] DanielIgirimbabazi commented on #16
Which is in progress*

[2020-07-29 05:38] helendallas commented on #16
@helendallas @DanielIgirimbabazi Thank you for the Odonata data file. Both files were the same name and date. How is work going on the Odonata Master file. I noted it is alreeady added as a drop down lis in the data file, Please can you send me this as well.  Looks like work is progressing nicley.

[2020-07-29 06:37] helendallas commented on #7
@Thacien1 Thanks, I found the list in an earlier email. I have made a few notes in the attached file. Looking good.
[RBIS.Master.List.of.Taxa_Odonates_BDMT._.26.7.2020_HD.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/4993030/RBIS.Master.List.of.Taxa_Odonates_BDMT._.26.7.2020_HD.xlsx)

[2020-07-29 06:43] Thacien1 commented on #7
Thank you @helendallas . Let us have a look.

[2020-08-20 06:18] Thacien1 commented on #7
Final odonates Master list.
[RBIS.Master.List.of.Taxa_Odonates_BDMT_20.8.2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5101038/RBIS.Master.List.of.Taxa_Odonates_BDMT_20.8.2020.xlsx)

[2020-08-20 06:57] mmindje commented on #7
@helendallas can we leave blank the field for the missed Authors/collector affiliations?

We dug deep from the internet and we could not be sure of the results
1. Saceghem, Van ;
2.Darling, Gregg & Desire ;
3. Burmeister et al ;
4.Hegh, H.

We also asked Erasme whom we thought could be better placed with this information, but unfortunately, he also has none.

[2020-08-20 07:17] helendallas commented on #7
@Thacien1 @mmindje Thank you. I will go though this in details after our meeting as there is not much time now.

[2020-08-20 07:50] helendallas commented on #7
@Thacien1 @mmindje  I managed to go through the Mater list of Odonata. It is looking great.
@mmindje The comments above - do they refer to the Odonata Data file? or the master list? I assume the data file.

[2020-08-20 07:51] helendallas commented on #16
@Thacien1 @mmindje  PLease can you add the latest Odonata data file to this ticket, thanks.

[2020-08-20 08:12] Thacien1 commented on #16
Thank you @helendallas . The odonates occurrence data file is now attached.
[RBIS.Odonates.Data.file.20.08.2020._BDMT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5101983/RBIS.Odonates.Data.file.20.08.2020._BDMT.xlsx)

[2020-08-20 12:17] DanielIgirimbabazi commented on #7
Yes Helen, the questions correspond to Odonata Data file.

[2020-08-20 12:23] helendallas commented on #7
@DanielIgirimbabazi  My comments 1) refers to the Master file. This ticket is for the master file.  Comments 2) was for the data file, which I have been sent, thank you.  I am still working through the data file. There are several issues. I will share with you once I am done.

[2020-08-20 14:06] helendallas commented on #16
I have gone through the data file and made some revisions - in red.  **Points to note include:**

- **UUID**  - this must always remain the formula as per the Data Upload template. I have changed it to this.
- **Wetland name** - I edited some of these names for consistency, e.g. Nyungwe Forest National Park had Nyungwe Forest Nat. Park and Nyungwe National Park.
- **Latitude and Longitude** were t

[2020-08-21 12:29] helendallas commented on #16
@mmindje @Thacien1 @DanielIgirimbabazi
I have managed to get another 97 occurrence records of Odonata data via the OdonataMap, which is another JRS funded project that we are linked with.  I have attached the excel file. The Source of this would be OdonataMap.  You can add them to your data file.

[OdonataMAP_Rwanda_for_Helen_Dallas.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5

[2020-08-21 12:33] Thacien1 commented on #16
Excellent!!!. Thank you so much @helendallas  . Lets work on them.

[2020-08-27 07:58] Thacien1 commented on #16
Hello @helendallas ,
Below is an updated odonata occurrence data file. The team had run trough your comments but were confused on this comment **"My main question is in relation to the occurrence records falling in the Searching for Rwanda’s Flying Jewels: Agrion: Newsletter of the worldwide dragonfly assocation Volume 20(2): 100-104 publication. The dates of collections vary, as do the collectors

[2020-08-27 10:43] helendallas commented on #16
@mmindje @Thacien1 @DanielIgirimbabazi
I have worked through the OdonataMap data and edited the data into the RBIS template.  The blank records were "questionable"so I have deleted these as the identifications have not been confirmed by experts.

All data are species, except for one, Genus. Note that the Taxon Rank for this is noted as such. It is thus recorded in the appropriate column, and in th

[2020-08-27 10:45] helendallas commented on #16
@Thacien1 Sorry I did not see this until our meeting had ended. Its mainly to confirm that all the occurrence records relate to the correct reference, even though the dates are sometimes earlier.

[2020-08-27 13:03] helendallas commented on #5
@mmindje @Thacien1 @DanielIgirimbabazi

I realised when I was looking at the OdonataMap data that the way you have added the species in incorrect, and it please needs to be fixed in the bird master, bird data, odonata master and odonata data files.

The Genus and species need to be in separate columns. The taxon is the combination.  so for example:

**It should be:**

Genus     | Species |  Taxon

[2020-08-27 13:05] helendallas commented on #13
@mmindje @Thacien1 @DanielIgirimbabazi

For the bird data file, I have simply deleted the species names, as the taxon is what is used for ingesting data.

Revised file attached.

[RBIS Bird Data 14 July 2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5136508/RBIS.Bird.Data.14.July.2020.xlsx)

[2020-08-28 07:08] Thacien1 commented on #5
Thank you so much @helendallas . Let us work on them.

[2020-08-28 07:32] Thacien1 commented on #13
Noted. Thank you so much

[2020-08-28 08:17] Thacien1 commented on #5
Final Bird master file. Species column cleaned.

[Final.RBIS.Master.List.of.Taxa_Birds_BDMT.on.28 Aug.2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5140900/Final.RBIS.Master.List.of.Taxa_Birds_BDMT.on.28.Aug.2020.xlsx)

[2020-08-28 08:40] Thacien1 commented on #7
Here below is an **updated Odonata Master file**.

[RBIS.Master.List.of.Taxa_Odonates_BDMT_3.9.2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5166932/RBIS.Master.List.of.Taxa_Odonates_BDMT_3.9.2020.xlsx)

[2020-09-03 07:37] Thacien1 commented on #16
New version of odonata occurrence data file.

[RBIS.Odonates.Data.file_3.9.2020._BDMT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5166942/RBIS.Odonates.Data.file_3.9.2020._BDMT.xlsx)

[2020-09-03 07:57] helendallas commented on #5
@Thacien1
Thank. I found a few editorial issues that I have corrected and then I noticed one duplicate. Highlighted. PLease check. Thanks

Here is the edited file:
[Final.RBIS.Master.List.of.Taxa_Birds_BDMT.on.3 Sep.2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5167043/Final.RBIS.Master.List.of.Taxa_Birds_BDMT.on.3.Sep.2020.xlsx)

[2020-09-03 09:09] helendallas commented on #7
@Thacien1

This looks great thanks.

[2020-09-03 09:22] helendallas commented on #16
@Thacien1
Thanks Thacien. The odonate data file looks fine. So now you need to add the OdonataMap data to the RBIS Odonates file.

One question I have is if the Original Wetland Name should really rather be the Site description.  In FBIS we had a River Name and a Site description, but perhaps this isnt clear for Rwanda.

Alternatively we could consider renaming:
Wetland Name and description / or j

[2020-09-03 09:30] #5 closed, assigned to mmindje, DanielIgirimbabazi, Thacien1

[2020-09-03 13:05] Thacien1 commented on #5
Thank you so much @helendallas . Please, consider this unerring file.
[Final.RBIS.Master.List.of.Taxa_Birds_BDMT.on.3.Sep.2020_Corrected.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5168650/Final.RBIS.Master.List.of.Taxa_Birds_BDMT.on.3.Sep.2020_Corrected.xlsx)

[2020-09-03 13:24] Thacien1 commented on #16
Dear @helendallas , Thank you so much for this message. We are going to discuss on this and will get back to you with a team feedback tomorrow.

[2020-09-04 13:49] Thacien1 commented on #16
Dear @helendallas ,

The team has analyzed your concern about wetland name issue and concluded that the field for **Wetland name** needs to be changed to **Wetland details** and the changes have been made in the occurrence data file accordingly.
Thank you
[RBIS.Odonates.Data.file_4.9.2020._BDMT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5175152/RBIS.Odonates.Data.file_4.9.2020

[2020-09-10 06:33] helendallas commented on #16
@Thacien1 I am checking with Dimas, sure it will be fine. I suggest **Wetland description**.

Please confirm if you have integrate the OdonataMap data in the the Odonates data file.

[2020-09-10 06:35] helendallas opened #17 "Create Amphibian Master list"
We need to create a master list for anurans

[2020-09-10 07:17] Thacien1 commented on #16
Thank you so much @helendallas for  your suggestion. We agree with you that **Wetland description** fits well in  that column.
However, we haven’t yet integrated the **OdonataMap** **data** yet, we realized that they were quite inconsistent and we think you might be able to fetch them for us once again so that we can integrate them”

[2020-09-10 07:21] helendallas commented on #16
@Thacien1 Please can you be more specific on the inconsistencies.  Fetching them again wont make any difference especially since I edited the sheet quite considerably.

[2020-09-10 07:42] Thacien1 commented on #16
Dear @helendallas ,
We are apologetic that we did not realized that you sent an updated **OdonataMap** **data** **file**. The team is going to work on this and will get back to you not later than tomorrow on Friday 5:00pm.

Thank you.
Warm regards,
@Thacien1

[2020-09-10 07:48] Thacien1 commented on #16
Hello  @mmindje , @DanielIgirimbabazi , @Deborahcyu , consider this updated **OdonataMap** **data** file.
Dear @helendallas , we will get back to you with complete **odonata** **occurrence** **data** **file** and **odonata** **Master** **List** **file** by tomorrow Friday at 5:00pm. Thank you.

[2020-09-10 08:49] mmindje opened #18 "Organizing Amphibian raw data"
Cleaning and compile data from literature and data holders

[2020-09-10 09:12] mmindje commented on #18
@Thacien1  and @DanielIgirimbabazi Daniel you can add the different raw data here.
From Matthew, myself, and shall I add papers I think have records.

we shall try to look together how we can retrieve the spp records in these literature

1. Van der Hoek, Y., Tuyisingize, D., Eckardt, W., Garriga, N., & Derhé, M. A. (2019). Spatial variation in anuran richness, diversity, and abundance across monta

[2020-09-11 08:21] mmindje commented on #16
Okay Thacien, let us work on the files

[2020-09-11 10:09] Thacien1 commented on #16
Dear @helendallas
Kindly have a look on **Odonata** **occurrence** **data** **file** containing additional **OdonataMap** **data**

Thank you.

[RBIS.Odonates.Data.file_11.Sept.2020._BDMT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5208214/RBIS.Odonates.Data.file_11.Sept.2020._BDMT.xlsx)

[2020-09-11 10:12] Thacien1 commented on #7
Final **Odonata** **MasterList** **file**.

[RBIS.Master.List.of.Taxa_Odonates_BDMT_11 Sept 2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5208252/RBIS.Master.List.of.Taxa_Odonates_BDMT_11.Sept.2020.xlsx)

[2020-09-11 11:13] helendallas commented on #7
@Thacien1 Thanks

Please check:

Odonata | Chlorocyphidae | **Stenocypha** | jacksoni |   | **Chlorocypha** jacksoni | **Chlorocypha** jacksoni Pinhey,   1952

Genus is different in genus column and taxon. Also where did you get the scientific authority as this species is not on GBIF/

Thanks

[2020-09-11 11:44] helendallas commented on #16
@Thacien1 Please can you check why there are many records with no source? or authors or title. Where are these data from? There are only 3 datasets here right? As below, but many records have no source etc.  Perhaps I am missing something?

Uyizeye   E | 2020 | Antioch University PhD Thesis | Developing an Odonate-Based   Index for Monitoring Freshwater Ecosystems in Rwanda: Towards Linking Policy

[2020-09-11 14:42] helendallas commented on #16
@Thacien1

I tried to ingest odonata file data into RBIS, and encountered a few errors. specifically: The attached file needs to be revised to include:
Author(s) for rows in green, need to be added
[RBIS Odonate Data file 2020_11_11.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5209685/RBIS.Odonate.Data.file.2020_11_11.xlsx)

[2020-09-14 09:30] DanielIgirimbabazi commented on #16
Dear @helendallas ,
We have been unable to retrieve the authorship for those missing information. We asked the data provider who also could not find the authors. However, we assume that the data are still raw and have not yet been published. This is why we left part of the authorship's  field empty. We are looking forward to hearing your feedback on this issue. Thank you.

[2020-09-14 10:21] Thacien1 commented on #7
Dear @helendallas . The final Odonats MasterList is attached. The Authorship of this *Stenocypha* *jacksoni* was found on this link **http://addo.adu.org.za/index.php?taxon_id=12300**

Thank you.

[RBIS.Master.List.of.Taxa_Odonates_BDMT_14.Sept.2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5217776/RBIS.Master.List.of.Taxa_Odonates_BDMT_14.Sept.2020.xlsx)

[2020-09-14 13:05] helendallas commented on #16
@Thacien1 Who is the data provider? Is it their database? If so then they become the authors.  Please provide details so that I can assist

[2020-09-14 13:19] Thacien1 commented on #16
Thank you @helendallas

A data provider is Dr. Erasme Uyizeye, a recent PhD graduate from Antioch University.The data is not from his database, just a field collection data-set. It is basically raw data which has not yet been published.

[2020-09-14 13:21] helendallas commented on #16
@Thacien1 Ok thanks. Then I will add him as author and note it as unpublished. Thanks
I will sned the final master and data file once they has been successfully uploaded as thias is when the errors get picked up that I may have missed.

[2020-09-14 13:22] Thacien1 commented on #16
Thank you so much @helendallas .

[2020-09-16 10:12] helendallas commented on #16
I noticed some duplicates in the final check of the Odonate data, so ran a "concotenate" formulae and duplicate check. Please see the last column of the attached file. Please cna you check if these are indeed duplicates. If they are one should be deleted until no rows are highlighted in the last column.  It is worth doing this for all data files so duplicate records are avoided.

Thanks - here is

[2020-09-17 10:57] mmindje commented on #16
[RBIS.Odonate.Data.file.2020_09_17.duplicate_checked_BDT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5238535/RBIS.Odonate.Data.file.2020_09_17.duplicate_checked_BDT.xlsx)
 If they are one should be deleted until no rows are highlighted in the last column. It is worth doing this for all data files so duplicate records are avoided.

Hi, @helendallas Thank you for the comment of t

[2020-09-17 11:01] mmindje commented on #16
Dear @helendallas
the attached is the new file after working on the duplicates
[RBIS.Odonate.Data.file.2020_09_17.duplicate_checked_BDT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5238566/RBIS.Odonate.Data.file.2020_09_17.duplicate_checked_BDT.xlsx)

[2020-09-21 15:37] mmindje commented on #17
@DanielIgirimbabazi, @Thacien1 and @Deborahcyu
Find attached the Anurans mater list ready

@helendallas we are still working on the file; after you have some times, we can discuss on the data (Origin and Endemism)...just to have the information right AND **DISCUSS ON THE RENAMING OF THIS MODULE**

[RBIS.Master.List.of.Taxa_Amphibians_BDMT_21.Sept.2020.xlsx](https://github.com/mmindje/Data-manageme

[2020-09-23 10:56] helendallas commented on #16
Thanks team - final Odonate data file:
[RBIS Odonate Data file 2020_09_22 Final for RBIS V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5267573/RBIS.Odonate.Data.file.2020_09_22.Final.for.RBIS.V1.xlsx)

[2020-09-23 10:57] helendallas commented on #7
Thanks team - final Odonata master file:

[RBIS Odonata Master List 2020_09_22 Final for RBIS V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5267581/RBIS.Odonata.Master.List.2020_09_22.Final.for.RBIS.V1.xlsx)

[2020-09-23 10:58] helendallas commented on #5
Thanks team - final Bird Master file:

[RBIS Bird Master List 2020_09_22 Final for RBIS V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5267593/RBIS.Bird.Master.List.2020_09_22.Final.for.RBIS.V1.xlsx)

[2020-09-23 10:59] helendallas commented on #13
Thanks team - final Bird data file:

[RBIS Bird Data 2020_09_22 Final for RBIS V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5267600/RBIS.Bird.Data.2020_09_22.Final.for.RBIS.V1.xlsx)

[2020-09-23 11:29] helendallas commented on #17
@mmindje Lets chat about this tomorrow at our meeting. Thanks

[2020-09-23 12:07] mmindje commented on #17
sure Helen, glad to hear that you gonna there!

[2020-09-23 17:01] mmindje commented on #6
Hello Team.

Today has been a very productive day compiling the data into the occurrence data sheet,

@Thacien1 you work ib the sheet is to incorporate the coordinates for the VNP wetlands
@Deborahcyu You will assure you work on the UUID for the data
@DanielIgirimbabazi you will work on the date formats

Thacien, for coordinates please look at the attached file

and this link **https://docs.google

[2020-10-01 08:24] Thacien1 commented on #17
Here is **RBIS** *_* **Amphibians**_ **Master** **List** updated file.

Thank you.

[RBIS.Master.List.of.Taxa_Amphibians_BDMT 1 October 2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5310484/RBIS.Master.List.of.Taxa_Amphibians_BDMT.1.October.2020.xlsx)

[2020-10-01 08:25] mmindje opened #19 "Amphibian module's Logo"

[2020-10-01 08:27] mmindje opened #20 "Birds' Module Logo"

[2020-10-01 08:30] mmindje commented on #20
@helendallas I am suggesting the logo as following:
![dove-clipart-animated-4](https://user-images.githubusercontent.com/64961274/94786329-1c227300-03d1-11eb-9e29-5a22cbef07ff.png)
![images](https://user-images.githubusercontent.com/64961274/94786335-1dec3680-03d1-11eb-8fea-6b94af5e6685.jpg)

[2020-10-01 08:37] mmindje commented on #19
The amphibian logo
@helendallas , we can choose between these
![a-sitting-green-frog-on-a-white-background-vector-23886687](https://user-images.githubusercontent.com/64961274/94787048-0d888b80-03d2-11eb-9315-0667a8c62139.jpg)
![72-729213_tree-frog-silhouette-clipart-png-download-tree-frog](https://user-images.githubusercontent.com/64961274/94787120-22fdb580-03d2-11eb-9dd4-7c08447e6439.png)

[2020-10-01 11:46] helendallas commented on #20
Okay - the first, simpler one should be fine.

[2020-10-01 11:47] helendallas commented on #19
Thanks, light on dark is better as it will work with the other logos. Lest try the first one then

[2020-10-01 12:06] helendallas commented on #17
@Thacien1 This looks great, a few minor edits. I am testing the upload into the staging site to check if there are any issues.

[Uploading RBIS Amphibian data 2020_10_01 final for RBIS V1.xlsx…]()

[2020-10-01 12:08] Thacien1 commented on #17
Thank you   @helendallas

[2020-10-01 12:34] helendallas commented on #19
@mmindje I checked and the first one doesnt work - opting to use the second as it is more striking. Here is what they look like on RBIS staging.

![image](https://user-images.githubusercontent.com/45286876/94808296-39ffd000-03f1-11eb-9019-7bd4675fae07.png)

![image](https://user-images.githubusercontent.com/45286876/94809622-2bb2b380-03f3-11eb-93b4-715e979ba58e.png)

[2020-10-01 12:56] mmindje commented on #19
@helendallas yes, I find the second also better than the first for sure!
Thank you Helen!

[2020-10-01 12:57] mmindje commented on #20
I hope it will also be visible on the white! @helendallas

[2020-10-01 13:02] helendallas commented on #20
Yes, it may not show up that well. I guess a solid log would be better

[2020-10-01 13:20] helendallas commented on #19
@mmindje I checked on the site, and the logo needs a white background, and need to be larger if possible

![image](https://user-images.githubusercontent.com/45286876/94814394-8fd87600-03f9-11eb-9a9d-87f904a7649c.png)

[2020-10-01 15:45] mmindje commented on #19
do you mean, I look for other silhouettes?

I am suggesting more:
![black-silhouette-cute-smiling-frog-sitting-on-vector-31544544](https://user-images.githubusercontent.com/64961274/94832125-cddf9500-040d-11eb-9e0c-07c05a7f5011.jpg)

![istockphoto-695789496-612x612](https://user-images.githubusercontent.com/64961274/94830887-55c49f80-040c-11eb-9162-1dc89b4fad24.jpg)

![67-678684_frog-vector-tribal

[2020-10-02 06:17] helendallas commented on #17
@Thacien1 Three taxa with errors. Please cam you check. I noted the last one has a link to a different taxon on GBIF, and should be changed to No..

Amietia nutti
Sclerophrys kisoloensis
Sclerophrys regularis

File attached - taxa highlighted. Please use this file for any edits. Thanks

[RBIS Amphibian data 2020_10_01 final for RBIS V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/file

[2020-10-02 06:27] helendallas commented on #17
@Thacien1 I just reimported and it all worked, after I changed the Sclerophrys regularis to No on GBIF.

Please confirm this is acceptable. Thanks

[2020-10-02 09:48] Thacien1 commented on #17
Dear @helendallas ,
Consider this attached file as final **Amphibians** **MasterList** file.  We have double checked the file and fixed all mistakes ( Firstly, **Sclerophrys regularis** is not found in **GBIF** and its common name is **African common toad**  not Common African  toad, and then a typo error of **Amietia** **nutti**'s Family name) . We have also successfully tested the file on RBIS s

[2020-10-02 10:33] helendallas commented on #17
@Thacien1 Thanks. I actually asked Dimas to delete all dataso that I could test the uploading as we need to create a different type of csv file. I was wondering where the amphibian data came from as I had not uploaded it.  I will need to check though as there are to many records.

Please check before adding anything to staging or live in future thanks.

I am preparing documentation to outline the

[2020-10-02 11:39] Thacien1 commented on #17
Thank you @helendallas . This is noted.

[2020-10-05 15:54] mmindje opened #21 "Trainings needed"
Dear @helendallas

**We had a discussion among us and we suggested some points where we will need some improvement (training). However, we intend to have these upon your own time or schedule.**

Suggestion for Training

**1. How to delete a file from the RBIS?**
I case we realize there is a mistake.

**2. How to update the existing module?**
You told us about this but we also need to view the proc

[2020-10-08 08:15] Thacien1 commented on #6
Hello @helendallas

The updated file of  **Amphibian** **occurrence** **data** is attached.

Kind regards,
**Thacien**

[RBIS.Anurans.Data.file.2020_10_08.Final.for.BDT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5346265/RBIS.Anurans.Data.file.2020_10_08.Final.for.BDT.xlsx)

[2020-10-09 12:47] helendallas commented on #6
@Thacien1 @mmindje Thanks, I am going through it now.

Question: Are all these sampling methods all distinct?  We want to avoid adding in to many different sampling methods if they are similar.  If they are all distinct then we will need to ask Dimas to add them in before we can upload the Amphibian data.  I have created a ticket asking this to be added to admin functionality

![image](https://use

[2020-10-09 14:53] helendallas commented on #6
@Thacien1 @mmindje
I spent some time going through this data file and checking. At the same time in response to some questions on github (#21), I have created a document to guide you on the checking of the occurrence data file, based on the sort of check I commonly do and which I find useful.

Please go through this and highlight any questions.
[Checking occurrence data file for accuracy 2020_10_0

[2020-10-09 16:46] mmindje commented on #6
Thank you Hellen

The second and the fourth are similar.
My team shall fix this and add the final file.
Thank you

On Fri, 9 Oct 2020, 16:54 Helen Dallas, <notifications@github.com> wrote:

[2020-10-09 16:58] mmindje commented on #6
Attached is the updated File with clear methodologies.

2 were merged to have 3.

**The three are distinct methodologies**
![image](https://user-images.githubusercontent.com/64961274/95610929-622aa700-0a61-11eb-969b-7e2b9a426e16.png)

[RBIS.Amphibian.Data.2020_10_09.Draft.for.RBIS.V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5356373/RBIS.Amphibian.Data.2020_10_09.Draft.for.RB

[2020-10-12 10:03] helendallas commented on #6
Thanks, noted

[2020-10-12 10:53] helendallas opened #22 "Prepare documentation for Uploading a new module and adding a master list"
@helendallas  to prepare document for uploading a new module to RBIS and adding a master list of taxa for the taxon group.

[2020-10-12 10:54] helendallas opened #23 "Prepare documentation for Uploading Occurrence Data"
@helendallas to prepare a document for uploading occurrence data

[2020-10-12 10:56] helendallas opened #24 "Prepare documentation for harvesting data from GBIF"
@helendallas to prepare documentation for harvesting data from GBIF.

[2020-10-12 10:57] helendallas opened #25 "Prepare documentation outlining checking and cleaning of occurrence data file"
@helendallas to prepare documentation outlining the process for checking and cleaning the occurrence data file prior to uploading to RBIS

[2020-10-12 11:01] helendallas commented on #25
@mmindje @Thacien1
Please can you read through the attached document and highlight any points requiring clarification. I ma happy to discuss further with you as well if required.

[Uploading Checking occurrence data file for accuracy 2020_10_09.docx…]()

[2020-10-12 11:03] helendallas commented on #22
@mmindje @Thacien1
Please can you read through the attached document and highlight any points requiring clarification. I am happy to discuss further with you as well if required.

[1. Uploading a new module and adding a master list.docx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5364710/1.Uploading.a.new.module.and.adding.a.master.list.docx)

[2020-10-12 11:04] helendallas commented on #23
@mmindje @Thacien1
Please can you read through the attached document and highlight any points requiring clarification. I am happy to discuss further with you as well if required.

[2. Uploading Occurrence Data.docx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5364717/2.Uploading.Occurrence.Data.docx)

[2020-10-12 11:04] helendallas commented on #24
@mmindje @Thacien1
Please can you read through the attached document and highlight any points requiring clarification. I am happy to discuss further with you as well if required.

[3. Harvesting GBIF data.docx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5364723/3.Harvesting.GBIF.data.docx)

[2020-10-12 11:52] helendallas commented on #3
@mmindje Please also update the tracker on this project, thanks

[2020-10-12 12:16] mmindje commented on #3
Dear @helendallas; the above dataset tracker is already updated. Do you recommend any further update?
Thank you

[2020-10-13 06:50] helendallas commented on #3
@mmindje Thanks that looks up to date.

[2020-10-13 08:13] mmindje commented on #3
Sure thank you Helen.

On Tue, 13 Oct 2020 at 08:50, Helen Dallas <notifications@github.com> wrote:

--
.............................................................

*Mapendo MINDJE*
*University of Rwanda-CAVM Teaching and Research assistant*
*Frogs and Toads co**mmunity ecologist*
*Amphibian survey team leader-ARCOS network.*
*Team leader-Biodiversity Information management for Rwanda-CoEB*
*ORC

[2020-10-22 09:52] mmindje commented on #22
Dear team,
Let's comply with the request!

On Mon, 12 Oct 2020 at 13:03, Helen Dallas <notifications@github.com> wrote:

--
*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*Assistant lecturer (MSc Conservation biology and MSc BioGeosciences)*
*Team leader for Biodiversity data management*
*Researcher affiliate to the - CoEB*

*Tel: +250 783513176*

[2020-10-22 10:11] mmindje commented on #22
Thank you, dear @Helen.

The document is self-explanatory. I think we shall  be trying to do these activities and when prompted, then we can still ask you in case of any bug

Thank you again. it is clear

[2020-10-30 08:48] mmindje opened #26 "Updating dates in Amphibian ODF"
We will have to edit some two to three dates that in the amphibian files may be wrongly recorded as they appear to be in November

@Thacien, we will need you to log in and we ingest in the data.

We need to only make the updates with same UUID and yeah we ingest the data

Look at the attached file for maneuvers
[RBIS Amphibian Data 2020_10_09 Final for RBIS V1.xlsx](https://github.com/mmindje/Data

[2020-10-30 10:21] mmindje commented on #26
@helendallas, we have updated the dates in the attached file.

We were unable to upload it to the RBIS since we only have login ID for the staging site.
You can upload it for us and we can ask Tim/Dimas to also give us log in credentials for the future need.

Thank you

[RBIS Amphibian Data 2020_10_30 Final for RBIS V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5464448/RBIS.Am

[2020-10-30 10:33] helendallas commented on #26
@mmindje Sure I can do it for you, no problem.  Just to check it is the sites highlighted in the spreadsheet. It looks like more than 13 records. Should I upload all the data or is it just the highlighted records that have changed?

![image](https://user-images.githubusercontent.com/45286876/97694940-f1990800-1aab-11eb-8f2f-b7448b803c91.png)

[2020-10-30 10:49] mmindje commented on #26
Thank you Helen

Yes they are more than 13 rows we got others this morning.

The highlighted are the updated ones

Thank you

On Fri, 30 Oct 2020, 12:33 Helen Dallas, <notifications@github.com> wrote:

[2020-10-30 11:33] helendallas commented on #26
@mmindje I have uploaded the corrected data and checked on RBIS. All dates looks fine now.  ONce you are happy you can close the ticket. Thanks

[2020-10-30 12:05] mmindje opened #27 "Adding species images to the species display"
@helendallas I saw an image displayed for _Afrixalus quadrivittatus_ and was thinking if there is a way to upload images for the rest or those which do not have images; just a suggestion

![image](https://user-images.githubusercontent.com/64961274/97703528-72123580-1ab9-11eb-9be2-4952aaa9e48e.png)

for others

![image](https://user-images.githubusercontent.com/64961274/97703127-c0730480-1ab8-11eb-

[2020-10-30 12:20] #18 closed, assigned to DanielIgirimbabazi, Deborahcyu, Thacien1

[2020-10-30 12:20] #17 closed, assigned to nobody

[2020-10-30 12:21] #19 closed, assigned to helendallas, DanielIgirimbabazi, Deborahcyu, Thacien1

[2020-10-30 12:21] #20 closed, assigned to helendallas, DanielIgirimbabazi, Deborahcyu, Thacien1

[2020-10-30 12:22] #7 closed, assigned to mmindje, DanielIgirimbabazi, Deborahcyu, Thacien1

[2020-10-30 12:22] #16 closed, assigned to helendallas, mmindje, DanielIgirimbabazi, Deborahcyu, Thacien1

[2020-10-30 12:24] #14 closed, assigned to nobody

[2020-11-02 07:39] #15 closed, assigned to nobody

[2020-11-02 07:42] mmindje commented on #21
Hellen sent us a document with everything's we need so far to manage data

[2020-11-02 07:48] mmindje commented on #21
Document sent to us frim Hellen
[Uploading Administration guidelines for RBIS 2020 10 30.pdf…]()

[2020-11-05 07:02] #25 closed, assigned to helendallas

[2020-11-05 07:03] #22 closed, assigned to helendallas

[2020-11-05 07:03] #23 closed, assigned to helendallas

[2020-11-05 07:04] #24 closed, assigned to helendallas

[2020-11-16 07:11] mmindje commented on #3
@helendallas we got a new data set on birds, so we are going to work on it.
The attached is a new version of the DST.
[RBIS.DataSet.Tracker.Template.-.DataTeamReview_BDMT_16Nov2020.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5544609/RBIS.DataSet.Tracker.Template.-.DataTeamReview_BDMT_16Nov2020.xlsx)

@Thacien1 and @DanielIgirimbabazi check well again the Versions of or prioriti

[2020-11-16 10:03] mmindje commented on #8
@helendallas , we have been developing the master list  for macroinvertebrate.

As we do not have spp ID to species level, what do you advise us to fill in the scientific name and authorship, origin, endemism, and the IUCN status ?

We got challenged. This taxa is still poorly studied to spp level.

[2020-11-16 12:52] mmindje commented on #13
Hi @Thacien1 and @DanielIgirimbabazi , we  have two data source for birds that we will need to work on.
E-mail with a check list from Birding tour company and also the document sent to us from Beth.

I have reopened the issue for us to make some follow up!

However for some data set there. the birds are terrestrial: Assessment of threatened terrestrial bird species in Rwanda. So we hall look a the

[2020-11-17 11:03] bakaplin opened #28 "Landing page story about anurans"
Shift this story to NEWS tab on top of landing page:

Benefits of Frogs

Anurans (Frogs and Toads) are known excellent bioindicators of ecosystem health such as wetlands where their populations’ survival is constituted. However, studies on...

[2020-11-17 11:14] Thacien1 commented on #28
Thank you Prof. Beth,
Celestin will assist

[2020-11-17 11:29] bimeobed commented on #28
Many thanks, Prof. Beth,

[2020-11-19 07:31] helendallas commented on #27
@mmindje At the moment the only images displayed are those available on GBIF. This is something we would need to discuss with Tim and Dimas.

[2020-11-19 07:31] helendallas commented on #21
Closing this ticket as training mentioned has been done.

[2020-11-19 07:31] #21 closed, assigned to helendallas, DanielIgirimbabazi, Deborahcyu, Thacien1

[2020-11-19 07:34] helendallas commented on #13
@mmindje Sounds good.

Can I suggest you create a new ticket that specifically mentions the new bird data and then close this one. Normally each data source gets its own ticket so that it is easy to keep track of the data work flows.

[2020-11-19 07:35] helendallas commented on #8
@mmindje Where data are only to family it is not possible to fill in the scientific name and authorship, origin, endemism, and the IUCN status - unless the whole family is endemic for example. So these can be left blank.

[2020-11-19 07:46] Thacien1 commented on #8
Thank you @helendallas  for the clarification.

[2020-11-19 10:34] helendallas opened #29 "Check site coordinates for amphibian data outside Rwanda"
@mmindje @Thacien1 Please can you check the data falling outside Rwanda. The update on upload file so that it can be reingested.

Here is the link to the sites outside Rwanda - amphibians
https://rbis.ur.ac.rw/map/#site-detail/taxon=&search=&siteId=&collector=&category=&yearFrom=&yearTo=&months=&boundary=&userBoundary=&referenceCategory=&spatialFilter=&reference=&endemic=&conservationStatus=[]&mod

[2020-11-19 11:47] Thacien1 commented on #29
Thank you @helendallas . We will sort this out as soon as possible.

[2020-11-20 06:12] Thacien1 opened #30 "Refining RBIS Landing Page"
@iPelino could change the title which are in the uppercase on our RBIS landing page?
1) BIODIVERSITY OCCURRENCE RECCORDS into **Biodiversity**  **Occurrence** **Records**
2) PARTNERS into **Partners** .

Thank you.

[2020-11-20 11:45] mmindje commented on #29
Thank you @helendallas

I am working my team to address the issue and have an update of the data
Regards

[2020-11-20 11:59] mmindje opened #31 "Checking coordinates outside Rwandan boundaries"
Hi @bimeobed , @Thacien1 and @DanielIgirimbabazi

I wanted us to see why are these coordinates following outside the admin boundaries of Rwanda.

In fact we got the data saying they are in the Virunga National Park but we realized that the coordinates are outside of Rwanda.

Follow this link to get the insight:

![image](https://user-images.githubusercontent.com/64961274/99797482-019a8980-2b38-11e

[2020-11-20 12:03] mmindje commented on #31
the area is for the following credentials:

-00607
Site Description
Gasindikira
Site Coordinates
29.547, -1.399

[2020-11-20 12:22] mmindje commented on #31
@bimeobed check if the administrative boundaries are not a problem.!

[2020-11-20 14:06] bimeobed commented on #31
Thank you Mapendo for sure the data are outside of Rwanda for Ngezi wetland
and Gasindikira wetland the error made is for coordinate from Karisoke so
to solve this we need to push the coordinate or we can take one day to go
on  the field to collect the accurate data.
[image: image.png]
[image: image.png]
*Obed BIMENYIMANA*
*GIS And Remote Sensing User*
*CGIS-UR Professional Intern*
*Tel: +25078986

[2020-11-21 07:41] #30 closed, assigned to iPelino

[2020-11-21 07:41] iPelino commented on #30
Fixed

[2020-11-25 14:48] Thacien1 opened #32 "Coordinates outside Rwandan boundaries sorted out"

[2020-11-25 14:55] Thacien1 commented on #32
Dear @helendallas and @mmindje

Here is an **updated amphibians occurrence data file** after removing the coordinates which fall outside the Rwandan boundaries. We suggest that it  can be ingested into RBIS to replace the existing one.
[RBIS Amphibian Data 2020_11_25 Final for RBIS V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5597416/RBIS.Amphibian.Data.2020_11_25.Final.for.R

[2020-11-26 06:32] helendallas commented on #32
Merged with #29

[2020-11-26 06:32] #32 closed, assigned to helendallas, mmindje, DanielIgirimbabazi, Deborahcyu, Thacien1, bimeobed

[2020-11-26 07:38] helendallas commented on #29
Moved from #32
Dear @helendallas and @mmindje

Here is an updated amphibians occurrence data file after removing the coordinates which fall outside the Rwandan boundaries. We suggest that it can be ingested into RBIS to replace the existing one.
RBIS Amphibian Data 2020_11_25 Final for RBIS V1.xlsx

Thank you

[2020-11-26 10:36] helendallas commented on #29
@Thacien1 I have re-ingested these data to RBIS.  Please can you make sure that all the changes to coordinates and dates (done previously) are also taken over to the Amphibian Data Occurrence file that includes all occurrence records. I believe it is important to have the final complete and correct data file for each taxon group.

Once done, please can you share with me thanks

[2020-11-29 15:31] Thacien1 commented on #29
Thank you so much @helendallas  . I was checking our amphibian site distribution on the RBIS web and found some data that fall outside of Rwanda. I think that we have duplicates files of amphibian occurrence data. Did Dimas delete the wrong file before you ingested the updated file? Thank you so much 

[2020-11-30 07:15] helendallas commented on #29
The process is you update the incorrect data for each occurrence records, making sure that the original UUID is used. Then when the data is reingested, the incorrect data are overwritten with the new data. Did you use the same UUID?

[2020-11-30 07:26] mmindje opened #33 "We need to create a macroinvertebrate master list"
@DanielIgirimbabazi
The attached is the file for macroinvertebrate master list
[RBIS Macroinvertebrate Master List 2020November_Final for RBIS V2.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5614342/RBIS.Macroinvertebrate.Master.List.2020November_Final.for.RBIS.V2.xlsx)

[2020-11-30 07:28] mmindje opened #34 "We need to create a macroinvertebrates occurrence data file"
Ho Team
@Thacien1 We need to also have the occurrence data file for the macroinvertebrates.

[2020-12-03 09:14] helendallas commented on #29
@Thacien1 Have you checked the data for duplicates? As per comment above if the same UUID was used then the data should of been overwritten not duplicated

[2020-12-03 09:33] Thacien1 commented on #29
Dear @helendallas ,
What we did to amphibian occurrence data file is to delete all data which fall outside of Rwanda (data collected in Ngezi and Gasindikira wetlands). We did not changed and UUID for the remaining species occurrence. We suggest that Dimas can delete the existing file which has these two wetlands inside and then, we can upload the cleaned file.

Here is our cleaned file.
[RBIS.Amp

[2020-12-04 08:08] helendallas opened #35 "Write the readme.txt file that will be sent to users with the data they request"
@mmindje Please can you write a short work document that we can add to RBIS. This will be sent with the data requested by users once it has been vetted by the RBIS team. Thanks

[2020-12-04 09:23] mmindje commented on #35
Good morning @helendallas .
If I get this right, do you mean a document to users whom we have agreed to provided to?
e.g. some one asks for data and after their request has been approved, the data goes with another document let's say with a sharing agreement? or condition for use?

I attaching this one here for your perusal.
[Data use and sharing agreement.docx](https://github.com/mmindje/Data-man

[2020-12-04 09:30] helendallas commented on #29
@Thacien1 The old amphibian data has been removed and the new data file ingested. Please check, and then close the ticket if you are happy.

[2020-12-07 08:19] Thacien1 commented on #29
Thank you so much @helendallas.It is fine now.

[2020-12-07 08:25] #29 closed, assigned to nobody

[2020-12-07 08:28] Thacien1 opened #36 "Check GBIF_Birds data that fall outside of Rwanda"

[2020-12-07 08:37] Thacien1 commented on #36
Dear @helendallas some of GBIF_Birds data fall out side of Rwanda. We think that Dimas can help to sort out this issue.

More of data fall outside and you can view it when you check the GBIF data.

![image](https://user-images.githubusercontent.com/65008258/101327498-6fa0b980-3877-11eb-8d86-b705afc3d9b9.png)

Thank you

[2020-12-07 08:39] mmindje commented on #36
incredible! I think GBIF data are automated as they are harvested from their portal
Let's hope something can be done to correct it!

Thank you @Thacien1 for the follow up!

[2020-12-10 06:44] helendallas commented on #36
Ticket created for DImas
Please decrease the buffer around Rwanda country border to exclude non-Rwandan GBIF records #2447

[2020-12-10 06:44] #36 closed, assigned to helendallas, mmindje, DanielIgirimbabazi, Deborahcyu

[2020-12-10 07:20] helendallas commented on #35
@mmindje This is great. I have edited it a it to make it more user friendly. Attached
[Data.use.and.sharing.agreement HD.docx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5670907/Data.use.and.sharing.agreement.HD.docx)

[2020-12-10 08:26] mmindje commented on #35
Thank you so much @Helen, It looks so great now!

On Thu, 10 Dec 2020 at 09:20, Helen Dallas <notifications@github.com> wrote:

--
*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*Assistant lecturer (MSc Conservation biology and MSc BioGeosciences)*
*Team leader for Biodiversity data management*
*Researcher affiliate to the - CoEB*

*Tel: +250 783513176*

[2020-12-10 10:20] bakaplin opened #37 "Add brochures & promotional materials to landing page"
Deborah has the final versions.

[2020-12-17 08:57] iPelino commented on #37
Added!

[2020-12-17 08:57] #37 closed, assigned to iPelino, Deborahcyu

[2021-01-06 09:52] Thacien1 opened #38 "Macroinvertebrate data file_ Current Tasks"

[2021-01-06 09:58] Thacien1 commented on #38
Dear @Deborahcyu could you work on UUDID column please? @mmindje and @DanielIgirimbabazi let us meet on tomorrow and Friday and work on geographic coordinate cleaning and Date format.

Thank you so much.

[2021-01-06 10:13] mmindje commented on #38
Sure, thank you

[2021-01-14 09:52] helendallas commented on #33
Thank you for the master list. I will go through this during the week and revert.

[2021-01-14 09:55] helendallas commented on #34
Any progress on this dataset?

[2021-01-14 10:24] Thacien1 commented on #34
Thank you so much @helendallas , the macroinvertebrate data file is nearly done. We hope to finalize and upload its draft by the end of next week or before.

[2021-01-21 15:46] Thacien1 commented on #34
Dear @helendallas ,

Kindly have a look in the Macroinvertebrate data file.

Stay safe.

[RBIS_Macroinvertebrate final 2021.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5850401/RBIS_Macroinvertebrate.final.2021.xlsx)

[2021-01-26 09:24] helendallas commented on #34
@Thacien1 Thanks, I will work on this and the macroinvert master file and get back to you later today.

[2021-01-26 09:25] helendallas commented on #33
@DanielIgirimbabazi @Thacien1 Is this the most up to date master list? I am going to go through it today

[2021-01-26 12:59] mmindje commented on #34
Good Helen, thank you

On Tue, 26 Jan 2021 at 11:24, Helen Dallas <notifications@github.com> wrote:

--
*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*Assistant lecturer (MSc Conservation biology and MSc BioGeosciences)*
*Team leader for Biodiversity data management*
*Researcher affiliate to the - CoEB*

*Tel: +250 783513176*

[2021-01-26 13:25] Thacien1 commented on #33
Thank you so much @helendallas . The attached master file is the updated one.

[2021-01-26 13:28] helendallas commented on #33
@DanielIgirimbabazi @Thacien1 @mmindje

The Master list in the macroinvertebrate data list is different to the one in the master file -see below. Are you able to update master list using this list as I have noted several spelling issues. Then I can check the revised master list. Remember that all taxa in the data file MUST be in the master file or the uploading wont work.

**Rwandan Master macroin

[2021-01-26 13:39] Thacien1 commented on #33
Thank you so much @helendallas . Let us have a look in these files.
We will get back to you with the updated document.

Warm regards,

Thacien

[2021-01-26 13:41] helendallas commented on #38
I am picking up quite a few issues. Please make sure you follow all the checks laid out in the admin guidelines doc,  I have gone through the file and made changes in red.

For example:
I added the river name to the Original Wetland Name column
I changed down stream to downstream, up stream to upstream
There are several spelling errors – these need to be checked once the corrected master list is d

[2021-01-26 13:44] helendallas commented on #38
[RBIS_Macroinvertebrate.final.2021. HDxlsx.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5873622/RBIS_Macroinvertebrate.final.2021.HDxlsx.xlsx)

Here is the start of the revision, thanks

[2021-01-26 13:53] Thacien1 commented on #38
Dear @helendallas ,

Thank you so much for the comments. We will notice this in the future.
We are going to work on the comments and will get back to you as soon as possible.

Regards,

Thacien

[2021-02-03 15:42] Thacien1 commented on #33
Hello @helendallas , Kindly have a look at this final Macroinvertebrate master file. Some of the taxa were identified at order level, so the team has included these data in the list.

We are looking forward for your feedback.

Thank you.

[RBIS.Macroinvertebrate.Final Master.List. 3 Feb 2021.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5919561/RBIS.Macroinvertebrate.Final.Master

[2021-02-03 15:45] Thacien1 commented on #34
Dear @helendallas

The attached file is the final macroinvertebrate data file.
We are waiting for your feedback on this file. Thank you so much.

[RBIS_Macroinvertebrate.final Data file. 3 Feb 2021.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/5919634/RBIS_Macroinvertebrate.final.Data.file.3.Feb.2021.xlsx)

[2021-02-04 06:40] helendallas commented on #33
@Thacien1 Thanks. I have gone through it. changes in red. I have also added higher taxonomy for each as this is needed for the master list.

I agree that origin, endemism and conservation should also be left blank as this is really only useful at species level (and sometime genus).

Revised file attached.

[RBIS.Macroinvertebrate.Final.Master.List.4.Feb.2021.xlsx](https://github.com/mmindje/Data-m

[2021-02-04 06:41] helendallas commented on #34
@Thacien1 I have gone through the file and made a few changes, notably

Taxon rank revised to match the revised Master list

I query the Sampling Method - as Visual observation. If Marie used an equivalent of TARISS sampling, she would of used a kick net.  In her paper she states: We obtained benthic macroinvertebrates (larger than 1 mm) using the **kick sampling method**

[RBIS_Macroinvertebrate.

[2021-02-04 08:29] helendallas opened #39 "We need a master list for fish species"
I have found some useful references and tables that you can use as a starting point for collating the fish master list;

From Fishbase: List of Freshwater Fishes reported from Rwanda
https://www.fishbase.se/Country/CountryChecklist.php?c_code=646&vhabitat=fresh&csub_code=&cpresence=present

Plus these two refs.

[DeVos et al 2001 Fish Checklist.pdf](https://github.com/mmindje/Data-management-FRC-R

[2021-02-05 10:15] mmindje opened #40 "Creating a Macroinvertebrate module"
Dear @helendallas
My team @Thacien1 and @DanielIgirimbabazi would like to have its first full trial to create the macroinvertebrate module and ingest in the data.
We will also harvest data from GBIIF.

With this, once prompted, we can always come back you.
Is that okay per now?

Files to use:

[RBIS_Macroinvertebrate.final.Data.file.5.Feb.2021.xlsx](https://github.com/mmindje/Data-management-FRC-R

[2021-02-05 10:18] #13 closed, assigned to DanielIgirimbabazi

[2021-02-05 10:40] helendallas commented on #40
@mmindje @Thacien1 @DanielIgirimbabazi

Yes, that is a good idea. Please follow the guidelines in the documents including creating csv files from the xls files. Then please only import to the RBIS staging site.  Please check with Dimas that it is operational as I am battling to get on.

Let me know how it goes. If you have problems we can go through it again together.

[2021-02-05 10:42] mmindje commented on #40
Thank you Helen.
Regards

Would you remind us how we get free silhouettes?

Thank you

On Fri, 5 Feb 2021 at 12:40, Helen Dallas <notifications@github.com> wrote:

--
*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*Assistant lecturer (MSc Conservation biology and MSc BioGeosciences)*
*Team leader for Biodiversity data management*
*Researcher affiliate to the - CoEB*

*Tel: +250 783513176*

[2021-02-05 10:46] helendallas commented on #40
We have already designed icons for fish, invertebrates and algae, so you are welcome to use these - it makes sense to align FBIS and RBIS where possible :)

![JRS icons_algae](https://user-images.githubusercontent.com/45286876/107024002-1a6a2100-67b0-11eb-9458-1f42ea8d7aa4.jpg)

![JRS icons_crab](https://user-images.githubusercontent.com/45286876/107024005-1c33e480-67b0-11eb-8c35-e7d959aee6d1.jpg)

[2021-02-05 10:49] Thacien1 commented on #40
Thank you so much @helendallas . We are planning to upload the macroinvertebrates module this afternoon. However, the staging site (https://staging.rbis.kartoza.com/) seems to be not functioning. Do you have any advice on this?

Regards,
Thacien

[2021-02-05 10:49] mmindje commented on #40
Thank you so much.
They both look great
Sure, thank you

On Fri, 5 Feb 2021 at 12:47, Helen Dallas <notifications@github.com> wrote:

--
*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*Assistant lecturer (MSc Conservation biology and MSc BioGeosciences)*
*Team leader for Biodiversity data management*
*Researcher affiliate to the - CoEB*

*Tel: +250 783513176*

[2021-02-05 10:51] helendallas commented on #40
Dimas has just advised that the RBIS staging site is no longer working. He indicated that it looks like the serve was taken down on your side. You will have to check with Pelin? etc about what the problem is.

See separate email from Dimas copied to Mapendo as well.

[2021-02-05 10:54] helendallas commented on #40
@mmindje The crab one is for the macroinvertebrates.

I am not sure about harvesting from GBIF as your data are all at family level or higher. This will mean many taxa come down that are terrestrial as well. Perhaps hold on this for now until we can discuss.

You wont be able to do anything either until the staging site is back up and running.

[2021-02-05 10:59] mmindje commented on #40
Thank you for your email Helen.
Let us follow up with Pelin on the staging site

Regards

On Fri, 5 Feb 2021 at 12:54, Helen Dallas <notifications@github.com> wrote:

--
*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*Assistant lecturer (MSc Conservation biology and MSc BioGeosciences)*
*Team leader for Biodiversity data management*
*Researcher affiliate to the - CoEB*

*Tel: +250 783513176*

[2021-02-24 13:18] mmindje opened #41 "Data upload testing for macroinvertebrate"
Here we are testing the data upload for macroinvertebrate

[2021-02-24 14:35] mmindje commented on #41
we have been able yo add the master list and now we are adding the occurrence list.

However, it seems it will take long to be uploaded....is that always usual?

Thank you

![image](https://user-images.githubusercontent.com/64961274/109013845-43e5e080-76bc-11eb-9418-31dbfc6b48c7.png)

[2021-02-25 08:21] mmindje commented on #41
@helendallas I think that length of time might be internet issues but today it seems to work...we proceed now.
Thank you

[2021-02-25 08:31] helendallas commented on #41
@mmindje okay happy it is working

[2021-02-25 10:11] mmindje commented on #41
I think now we got it right

@helendallas

![image](https://user-images.githubusercontent.com/64961274/109135694-03d83980-7760-11eb-8435-ad833a942e60.png)

How are we adding the circle legend  on the data?

![image](https://user-images.githubusercontent.com/64961274/109138008-8feb6080-7762-11eb-8365-432fd4c9bfc0.png)

[2021-03-01 14:24] #8 closed, assigned to mmindje, Thacien1

[2021-03-01 14:25] #6 closed, assigned to mmindje, Deborahcyu, Thacien1

[2021-03-22 07:20] mmindje commented on #1
Attached
[RBIS.DataSet.Tracker.Template.-.DataTeamReview_HD.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/6180211/RBIS.DataSet.Tracker.Template.-.DataTeamReview_HD.xlsx)
 is an update of the Data set tracker
Regards

[2021-03-22 09:29] mmindje commented on #34
Hi @helendallas Helen, Yes Claire used Kick net sampling. I just confirmed with her. The visual observation for ID just in the rapid sampling was used.

[2021-03-22 09:40] mmindje commented on #34
The attached is the updated invertebrate file.
Yes we have 556 records in the data file
[Latest_RBIS_Macroinvertebrate.final.Data.file. 22March.2021.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/6180999/Latest_RBIS_Macroinvertebrate.final.Data.file.22March.2021.xlsx)

[2021-03-22 09:55] mmindje commented on #34
UUID fixed

[2021-03-22 09:58] mmindje commented on #34
We are again adding/uploading the updated file to the testing site and see if we shall get the 556 records

[2021-03-22 10:26] mmindje commented on #34
Here is a dilemma @helendallas
we tried to update the occurrence data in the Testing site but now data went beyond the number of records

![image](https://user-images.githubusercontent.com/64961274/111975953-d20d8500-8b09-11eb-8f4e-122f53d591ca.png)

Any suggestion?

[2021-03-23 07:23] helendallas commented on #34
@mmindje I am assuming that the UUIDs that you created are not the same as the original ones. This is why new records have been created.

Also you have changed the sampling method. It is really important to stick to the ones already listed. In this case "Kick net".

I am sure this was the primary sampling method, so no need to change this to Kick sampling and hand net sampling methods, as then thi

[2021-03-23 07:27] helendallas commented on #34
@mmindje I will edit file, and check data once the RBIS testing site opens and revert soonest.

[2021-03-23 07:28] mmindje commented on #34
Thank you for your email Helen.
I think Yes, we learn that one as we... UUID should always be the same
while updating!

The testing site: https://testing.rbis.kartoza.com/ is working on our
side......

For the sampling method, Kick net was confirmed by Claire to be used in all
the wetlands in Kigali.......

Kick sampling and hand net sampling methods: This was in the drop down; Do
you mean we shou

[2021-03-23 07:29] mmindje commented on #34
Thank you indeed.

We got more invertebrates data that will need to be managed as well
and added later as well
Thank you

On Tue, 23 Mar 2021 at 09:27, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Re

[2021-03-23 07:41] helendallas commented on #34
@mmindje I activated the remove all button on the Taxon Management - see below: Recall we ask for this so that we could test the uploading etc. to make sure we were all doing it correctly.

![image](https://user-images.githubusercontent.com/45286876/112110098-1e64cd80-8bbb-11eb-805a-429bcd558eba.png)
Now one can delete the module and go through the process again.

![image](https://user-images.gith

[2021-03-23 07:44] mmindje commented on #34
Thank you Helen, can we test the completed data files again before we add
them to the final site or what are you proposing?
Thank you

On Tue, 23 Mar 2021 at 09:42, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*

[2021-03-23 07:45] mmindje commented on #34
we see you have cleared them; so are you working on adding them again or
you waiting that we do that?

On Tue, 23 Mar 2021 at 09:43, Mapendo MINDJE ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliat

[2021-03-23 07:46] helendallas commented on #34
yes, that would be good, the module is still there so add the master list and then the data file.

![image](https://user-images.githubusercontent.com/45286876/112111227-97185980-8bbc-11eb-863a-11150bbc8214.png)

If all is successful, then you can load onto the RBIS production

[2021-03-23 07:47] #40 closed, assigned to helendallas

[2021-03-23 07:49] #38 closed, assigned to mmindje, DanielIgirimbabazi, Deborahcyu

[2021-03-23 09:06] mmindje commented on #41
Dear @helendallas ,

A problem still persists:

We are uploading the occurence data as 556 but we encounter 535 in the testing site ,....we are indeed not sure where the problem is....

We checked coordinates are right even site description are right as well

so, we are not sure about what is causing the issue

![image](https://user-images.githubusercontent.com/64961274/112120456-ec596880-8bc6-11e

[2021-03-23 10:09] Thacien1 commented on #39
Dear @helendallas ,

Kindly have a look at the Fish MaterList file.

Warm regards,

[RBIS Fish Master List  23 March 2021.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/6188581/RBIS.Fish.Master.List.23.March.2021.xlsx)

[2021-03-24 05:56] helendallas commented on #41
@mmindje Checking now

[2021-03-24 06:46] mmindje commented on #41
sure, thank you @helendallas

[2021-03-24 07:59] helendallas commented on #41
Issues noted:

**Master list**: Two taxa spelt incorrectly in Taxon column: Dytiscidae and Leptophlebiidae - I have corrected these, new master list attached, and reingested into RBIS testing.

[RBIS.Macroinvertebrate.Final.Master.List.24 March 2021.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/6194878/RBIS.Macroinvertebrate.Final.Master.List.24.March.2021.xlsx)

I removed all in

[2021-03-24 10:17] mmindje commented on #41
Thank you Helen.
Can we now upload these to the final site?
We shall also add more data we received yesterday

thank you

On Wed, 24 Mar 2021 at 09:59, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Re

[2021-03-24 10:25] helendallas commented on #41
If you have new invertebrate data to add to the data file, I would first upload it to the testing .

Then if you are happy, load to RBIS production.

Why not just load the files I sent this morning (converted to csv as per the docs), and leave the new data to be consolidated and tested later.

[2021-03-24 10:27] mmindje commented on #41
That is actually the option. We are going to upload no the data to the final site and see also.

[2021-03-24 10:56] mmindje commented on #41
@helendallas A STRANGE issue again

We used the data above you used for testing, converted into CSV but the  upload on the Final site results into a discrepancy

It is now 393 than 556 records.

The remove button is not active in the RBIS final site....

![image](https://user-images.githubusercontent.com/64961274/112299025-116dda00-8ca0-11eb-927c-5a46e91b1905.png)

There is is still may be a probl

[2021-03-24 10:56] mmindje commented on #41
@helendallas A STRANGE issue again

We used the data above you used for testing, converted into CSV but the  upload on the Final site results into a discrepancy

It is now 393 than 556 records.

The remove button is not active in the RBIS final site....

![image](https://user-images.githubusercontent.com/64961274/112299025-116dda00-8ca0-11eb-927c-5a46e91b1905.png)

There is is still may be a probl

[2021-03-24 10:58] helendallas commented on #41
oh dear, let me check
I see only 59 taxa have been added.

![image](https://user-images.githubusercontent.com/45286876/112299759-c86a5580-8ca0-11eb-8be8-2d2b338590a7.png)

[2021-03-24 11:20] helendallas commented on #41
Still checking

[2021-03-24 11:26] mmindje commented on #41
Sure, thank you. Yes, the cancellation was erroneous. Maybe we can also be
able to delete records as in the testing site that helps so much!

On Wed, 24 Mar 2021 at 13:21, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data managem

[2021-03-24 13:46] mmindje opened #42 "We are still in need to correct the origin of amphibians"
@helendallas , the biodiversity team (@DanielIgirimbabazi and @Thacien1 ) is soon meeting @bakaplin to correct the amphibian origin (Native and Non native occurences)

![image](https://user-images.githubusercontent.com/64961274/112320713-f14a1500-8cb7-11eb-9810-40b227ebe3fc.png)

Once we are done, we will need to update the masterlist and ingest it in the RBIS

Regards

[2021-03-25 09:22] helendallas commented on #41
@mmindje @Thacien1 So I have been working with Dimas who found some bugs on the RBIS production uploading. These have now been fixed and the master list and data have been uploaded.

![image](https://user-images.githubusercontent.com/45286876/112449371-fc568100-8d5b-11eb-8231-81f7ba08ab50.png)

I would like to plan for another session where we go through the uploading process on the RBIS testing s

[2021-03-25 09:23] helendallas commented on #42
@mmindje Thanks. Lets do the ingestion together if possible. Only the Origin category should change, and again lets test it first on RBIS testing

[2021-03-25 10:35] mmindje commented on #41
Awesome, thanks for the update!

Maybe we can also have the remove button in the final site in Taxon
management in case...
We shall now work on new data and add them after testing.

In the meantime, we are working on the fish masterlist that is soon done as
well

On Thu, 25 Mar 2021 at 11:23, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             As

[2021-03-25 11:14] helendallas commented on #41
@mmindje I agree re the remove button, but it is risky as all data are deleted, so if you have added data over several months then it would all be deleted.

Perhaps Dimas could include a date range, so that only the data added after a certain date would be removed.

[2021-03-27 11:42] mmindje commented on #42
sure, thank you so much

On Thu, 25 Mar 2021 at 11:24, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*

[2021-04-08 16:13] Thacien1 opened #43 "Amphibian occurrence data and MasterList re-tested"
Dear @helendallas ,

The Team was re-testing the amphibian module on the RBIS testing site. The data has been uploaded successfully. Kindly have a look at the following images.

1) **Amphibian module before retesting** (
![Amphibian dashboard before re-testing](https://user-images.githubusercontent.com/65008258/114060353-96a6e080-9895-11eb-95ae-9081700e7072.jpg)

2) **Amphibian module after retest

[2021-04-20 08:09] helendallas commented on #39
@Thacien1 Sorry for the delay. I have gone through the master file and highlighted one or two issues. Mostly it was fine, well done!

The revised file is attached:
[RBIS.Fish.Master.List.20.April.2021.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/6341599/RBIS.Fish.Master.List.20.April.2021.xlsx)

I then did a test on the RBIS testing site to upload the master list and received so

[2021-04-20 08:19] helendallas commented on #43
@Thacien1

Please confirm what was changed in the Master list?

And data file?

[2021-04-20 08:31] mmindje commented on #43
Hi @helendallas

We changed the Origin of amphibian to Native for All. and Three species endemism to Regional endemic level 2 (endemic to one primary catchment. Hyperolius jackie__, H. rwandae and _Boulengerula fischeri. Also, some species were said to not be recorded in GBIF yet they are are all in GBIF.

in the occurence data, we only retested the original file without changing anything.,

[2021-04-20 08:35] helendallas commented on #43
@mmindje Thanks. To confirm - did you delete any records in the master list?

Not sure I understand: Also, some species were said to not be recorded in GBIF yet they are are all in GBIF.

[2021-04-20 08:36] mmindje commented on #39
Thank you Helen.

The major problem was in the occurrence data file as thacien described. The
RBIS had 352 records, instead of 1636 records.
What do you suggest as well?

On Tue, 20 Apr 2021 at 10:09, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader

[2021-04-20 08:38] mmindje commented on #39
ooh sorry !!!! I was talking about the Amphibians.
For the fish Yes, let us wait for Dimas for the master list.

On Tue, 20 Apr 2021 at 10:36, Mapendo MINDJE ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researche

[2021-04-20 08:41] mmindje commented on #43
Thank you Helen. We deleted no records rather rectified the existing ones.

On Tue, 20 Apr 2021 at 10:36, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*

[2021-04-20 08:48] helendallas commented on #43
@mmindje Thanks

[2021-04-20 09:10] helendallas commented on #43
When adding endemism to the Master List always use the shortened version:
So Widespread not Widespread (more than one Freshwater Ecoregion)
Regional endemic level 2 not Regional endemic level 2 (endemic to one primary catchment)

If the long version is used then it does not look nice in the Dashboards
![image](https://user-images.githubusercontent.com/45286876/115367716-bd82e200-a1c6-11eb-9d7d-0ab

[2021-04-20 09:30] helendallas commented on #43
@mmindje Some observation on the revised data file:

I have copied Site description to Original Wetland Name, so that this field is not blank. Can you team, go through these and edit so that for example:

Bugesera district-Mugesera wetland becomes **Mugesera**
Kigali city, Nyandungu wetland becomes Nyandungu
etc. so that we have names for wetlands where possible.

Please make a note to do this for

[2021-04-20 09:52] helendallas commented on #43
@mmindje I was checking through the data file uploaded to RBIS live in November, and it only has 352 records, which matches with what is on RBIS dashboard.

This file is attached.

[RBIS Amphibian Data 2020_11_25 Final for RBIS V1.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/6342508/RBIS.Amphibian.Data.2020_11_25.Final.for.RBIS.V1.xlsx)

The new amphibian occurrence file has 136

[2021-04-20 10:00] helendallas commented on #43
@mmindje I had a quick check of UUIDs and it seems like they may have changed. If this is the case we will need to ask Dimas to delete the amphibian data so that we can re-upload the entire data file with all 1366 records. Can your team please double check the UUIDs.

[2021-04-20 14:43] mmindje commented on #43
Dear @helendallas

We have revised again all the comments given above and we realized that the file we were using for retesting ws the former one with wetlands outside of Rwandan Boundaries. 7 wetlands were outside.

Now, this one attached is the final one with the site description/Original wetland edited as suggested. We did not change the UUID and we think now, we need to re-ingest it in the RBI

[2021-04-20 14:47] mmindje commented on #43
Thank you @helendallas, On the first trial, we did not harvest the GBIF data. After adding the 352 records, we can also harvest the one from GBIF

[2021-04-20 15:35] mmindje commented on #43
Dear Helen, with the new retesting using updated files, we harvested the GBIF data as results are like this from the 352 to 622 records
![image](https://user-images.githubusercontent.com/64961274/115424282-dad3a280-a1fe-11eb-969e-54d1c92cbef2.png)

[2021-04-21 08:45] helendallas commented on #43
@mmindje @Thacien1 Please confirm if any amphibian data was actually changed. Dimas is very busy so if the data file is the same, then lets not ask him to remove it.

[2021-04-21 09:32] mmindje commented on #43
Thank you Helen.
The changed items included amphibian origin and endemism. In addition, some
spp in the materlist were said to not be in GBIF yet they are there. In the
occurrence data file, the Site description was also rectified and made as
the Original wetland name.
We need to update both files.

My advice would be, to reingest both master list and occurrence data files
in the RBIS again and ha

[2021-04-21 09:49] helendallas commented on #43
The master file has already been updated in the RBIS live. The origin and endemism of the taxa merely get overwritten, so no need to delete and reingest.

![image](https://user-images.githubusercontent.com/45286876/115533989-99db9c80-a297-11eb-9cfe-607856dd74f3.png)

For the data file changes I meant to add the wetland name, but retain the Site description as this is what is shown.  I do not think

[2021-04-21 11:17] mmindje commented on #43
Thank you Helen, I think we can also harvest the data from GBIF
Thank you

On Wed, 21 Apr 2021 at 11:49, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*

[2021-04-21 11:19] helendallas commented on #43
@mi Agreed. I have set it going, should be done soon as only 54 species.

[2021-04-21 11:20] #42 closed, assigned to Thacien1

[2021-04-21 11:20] #31 closed, assigned to DanielIgirimbabazi, Thacien1

[2021-04-21 11:21] mmindje commented on #41
Thank you @helendallas for testing the invertebrates

So, do you think it can also be created for the RBIS live?

Thank you

[2021-04-21 11:22] mmindje commented on #43
@helendallas
Thank you for the updated version of amphibs. I think we can also harvest the GBIF data

[2021-04-21 11:22] #43 closed, assigned to helendallas, mmindje, DanielIgirimbabazi

[2021-04-21 11:23] mmindje commented on #43
Yes!
There are only 54 species.

On Wed, 21 Apr 2021 at 13:20, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*

[2021-04-21 13:35] mmindje commented on #39
Dear Helen,

Do you think the Fish module can also be created to the RBIS live?

You can advise us per se

Thank you

On Tue, 20 Apr 2021 at 10:37, Mapendo MINDJE ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Rese

[2021-04-22 07:00] helendallas commented on #39
@mmindje As mentioned earlier, I am awaiting feedback from Dimas as to why some of the fish species did not upload. So until I hear from him, please do not upload to live, thanks

[2021-04-22 08:27] mmindje commented on #39
Oooh yeah, I remember you said that.
Thank you

I got so much on my head until I forgot some issues. Thank you Helen.
Hoping to hear from Dimas as well.

On Thu, 22 Apr 2021 at 09:00, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity

[2021-04-26 07:25] helendallas commented on #3
@mmindje Please can you share with me the latest data set tracker. Thanks. Best to attach to this ticket.

[2021-04-26 07:26] helendallas commented on #1
@mmindje PLease see if this is the same as ticket #3 . If they are the same, delete one and reference it in the other, thanks

[2021-04-26 07:30] helendallas commented on #34
This module has been created and the occurrence data uploaded to RBIS production:
![image](https://user-images.githubusercontent.com/45286876/116045072-f234e480-a671-11eb-9fb4-dc4071ed3b1d.png)

![image](https://user-images.githubusercontent.com/45286876/116045104-fd881000-a671-11eb-9857-fdb8414b9a42.png)

Closing ticket

[2021-04-26 07:30] #34 closed, assigned to Thacien1

[2021-04-26 07:31] helendallas commented on #33
This has been completed. Note that most taxonomy is at family level, so GBIF data cannot be harvested for invertebrates.  Closing ticket.

[2021-04-26 07:31] #33 closed, assigned to DanielIgirimbabazi

[2021-04-26 07:32] helendallas commented on #41
This has been uploaded to RBIS production. See ticket #34 Closing ticket.

[2021-04-26 07:32] #41 closed, assigned to helendallas

[2021-04-26 07:40] helendallas opened #44 "Revise Site descriptions for GBIF sites"
As discussed previously in our meetings, several site descriptions (termed localities in GBIF) do not accurately reflect the current names in Rwanda.

There are however, over 30,000 sites from GBIF.  The RBIS team need to decide if it is feasible to revise all of the Site Descriptions

![image](https://user-images.githubusercontent.com/45286876/116045855-c108e400-a672-11eb-87b9-1e9867e2901b.png)

[2021-04-26 07:44] helendallas commented on #35
@mmindje
As discussed in one of our meetings, this document is actually the data sharing agreement, send to a user once they have requested data. This has been completed.  So I will close this ticket.

Please however see the ticket in the Kartoza Github repository #2452 We need to create a general README that gets sent with any downloaded data.

[2021-04-26 07:44] #35 closed, assigned to mmindje

[2021-04-26 07:47] helendallas commented on #27
@mmindje This is a ticket for the Kartoza RBIS project. As far as I know Dimas is working on this.

See Upload and manage taxon images #2580

Closing this ticket as it is development, not data mobilisation.

[2021-04-26 07:47] #27 closed, assigned to helendallas

[2021-04-26 09:13] helendallas opened #45 "Digitization of Plant data"
@Thacien1

We received data from Quentin luke, we need to update the data in the master list

[2021-04-26 10:10] helendallas commented on #44
See also ticket on Kartoza project:

Revise GBIF Site descriptions to reflect correct Rwandan names #2510

[2021-04-27 15:18] mmindje commented on #35
Thank you Helen.
It is clear. The read me will be a good way to inform the end user.

On Mon, 26 Apr 2021 at 09:44, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*

[2021-05-03 11:33] mmindje commented on #33
sure

On Mon, 26 Apr 2021 at 09:31, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*

[2021-05-06 08:26] helendallas commented on #39
@mmindje  Dimas has found the issue and fixed it on production. I just uploaded the fish master list, and am now harvesting fish species from GBIF.

[2021-05-06 09:50] mmindje commented on #39
Awesome, thanks for the update Helen

On Thu, 6 May 2021, 10:27 Helen Dallas, ***@***.***> wrote:

[2021-05-06 15:24] #39 closed, assigned to nobody

[2021-05-21 11:15] #28 closed, assigned to iPelino, mmindje

[2021-05-21 11:16] mmindje commented on #44
I gues they are now okay as we are using the updated base map @bimeobed is that right?

[2021-05-21 11:20] mmindje opened #46 "Clean and Test New invertebrates data"
Hi team @Thacien1 and @DanielIgirimbabazi

we need t clean ten new data and add them to the current ones in the RBIS after testing them

[2021-05-21 11:22] mmindje opened #47 "Clean digitized fish data and add them to RBIS"
Hi @Thacien1 and @DanielIgirimbabazi

we also need to verify the digitized fish data, clean them and add the new data on the RBIS

[2021-05-21 11:25] mmindje opened #48 "review fish data for duplicates and overlays"
Hello @Thacien1 and @DanielIgirimbabazi ,
We need to review fish data for duplicates and overlays.

[2021-07-20 09:18] Thacien1 commented on #47
Dear @helendallas,

Kindly have a look at the fish occurrence data file.

Thank you.

[Final fish occurrence data file  20 July 2021_BDMT.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/6847066/Final.fish.occurrence.data.file.20.July.2021_BDMT.xlsx)

[2021-07-20 09:18] #4 closed, assigned to mmindje, Thacien1

[2021-07-21 08:32] helendallas commented on #47
@Thacien1 Thanks, I will tackle this tomorrow.

[2021-07-28 07:03] helendallas commented on #47
@Thacien1 @mmindje
Thanks, sorry for the delay in getting this to you. I noted several issues, highlighted here and in the attached file. Please work through these and correct, and ask at our session tomorrow if clarification is needed. **Please also look at the documentation re preparing occurrence upload files so that these errors don't keep appearing.**

- No Sampling Date given for any data -

[2021-07-28 15:06] Thacien1 commented on #47
Dear @helendallas,

Thank you so much for the comments. The team will work on it and get back to you as soon as possible.

Warm regards,

Thacien

[2021-11-29 12:12] Thacien1 commented on #47
Dear @helendallas ,

I hope that you are doing well!. The Team would like to share with you fish module updates. Please see the attached files. We tried to upload the data to the RBIS testing site but we failed. We tried it many times but the uploading process to both taxonomic data and occurrence data is loading unending up to now. We were thinking that maybe the issue is in the system features o

[2021-12-01 13:31] helendallas commented on #47
Hi @Thacien1 @mmindje

Thanks for the fish master and data files.

Re Fish master file:

I successfully uploaded the master file but only 88 species. Your list has 90 species. I then downloaded the fish csv in taxon management and compared your file with this. You have two taxa that are included twice, although in one case it is a different species in the species column.

Here is the file with the

[2021-12-16 06:51] mmindje commented on #47
Dear @helendallas

We do not know if it is the internet on our side or an issue we cannot explain. We are testing the fish occurrence data upload but the loading cannot exceed 1/192. Actually, we added new data. The master list is quickly loading.

[Final-fish-occurrence-data-file-BDT_14 December 2021_final-to-be-submitted-without-ARCOS_BDMT-xlsx-Occurrence-data.csv](https://github.com/mmindje/Dat

[2021-12-21 15:14] mmindje opened #49 "Creation of Plants masterlist"
@Thacien1 we need to update the master list for plants

[2021-12-21 15:18] mmindje opened #50 "Creation of Plants occurence data"
@Thacien1 - the occurence data file also needs to be added

[2021-12-21 15:23] mmindje opened #51 "Adding new Amphibian data"
@Thacien1 are you done with the digitization of amphibian data from me and Arcos?

[2021-12-21 15:26] mmindje opened #52 "Odonates and birds origin (native) correction"
@Thacien1 we need to revise the origin for odonates and fish and update the masterlists

[2021-12-21 15:29] mmindje opened #53 "Digitization of Books from Institutions"
Hello @LuckyBarahebuza - how far with the digitization of the books for data?

[2021-12-23 14:21] Thacien1 opened #54 "Update amphibian data"

[2021-12-23 14:38] mmindje commented on #54
@Thacien1
I am adding the data here to use for updating amphibians data.
_Ptychadena porosissima_ was misspelt in the master list.

[Amphibians- Masterlist-final23Dec2021.csv](https://github.com/mmindje/Data-management-FRC-RBIS/files/7769817/Amphibians-.Masterlist-final23Dec2021.csv)

New data set [Occurrence data file _ Amphibians_V2-Updated 23Dec2021.csv](https://github.com/mmindje/Data-manageme

[2022-02-16 16:12] #51 closed, assigned to Thacien1

[2022-02-16 16:13] #54 closed, assigned to mmindje, Deborahcyu, Thacien1, LuckyBarahebuza

[2022-02-16 16:13] #52 closed, assigned to Thacien1

[2022-02-16 16:14] #46 closed, assigned to DanielIgirimbabazi, Thacien1

[2022-02-16 16:14] #48 closed, assigned to DanielIgirimbabazi, Thacien1

[2022-02-24 08:00] Thacien1 commented on #50
We need to review and separate wetland plant species from Nyungwe National Park. I will bring also another book containing orchids collected by Samuel Nshutiyayesu and Prof. Elias.

[2022-02-24 09:58] mmindje commented on #50
Yes Thacien- we shall be working on those in The Akagera NP this afternoon

On Thu, Feb 24, 2022 at 10:00 AM Thacien Hagenimana <
***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affiliate to the - CoEB*
*

[2022-05-05 10:01] helendallas opened #55 "Water quality data template"
Dear Helen
On the questions you asked us - here, we have some replies.

In relation to the water quality (physico-chemistry) data sent please can you answer the following:

    Does this wq data have companion biological occurrence records?
    A/The water quality data are stand-alone data and no occurrence records are attributed to them.

    Is this data that will be manually manipulated into a

[2022-05-05 10:02] helendallas commented on #55
The upload template is ready:

[RBIS Water Quality Data Template.xlsx](https://github.com/kartoza/django-bims/files/8539760/RBIS.Water.Quality.Data.Template.xlsx)

Next step is for Dimas to enable uploading of physico-chemical data at a new site, and at an existing site.

[2022-05-05 11:17] helendallas opened #56 "Amphibian Master List"
In RBIS Taxon Management there are 73 species listed:

https://rbis.ur.ac.rw/taxa-management/?&selected=28

![image](https://user-images.githubusercontent.com/45286876/166912317-548fd6db-d7a6-45db-a48a-21284fabca74.png)

However, in the master list sent to me by Mapendo, there are only 54 species.

Please check why there is this descrepancy.  I suggest you download the csv file in taxon management

[2022-05-06 15:21] Thacien1 commented on #56
Dear Helen,

Thank you so much for the comments. We are working on it.

Warm regards,

Thacien

[2022-05-26 10:36] Thacien1 opened #57 "Creating mammal module"
Dear @helendallas ,

We are developing a mammal module but the ****endemism**** information for mammals is unclear. We will need a meeting about this with you. If you can make it in the next week will be great. Thank you.

[2022-05-31 10:49] helendallas commented on #57
ok @Thacien1 When would you like to meet?

[2022-05-31 11:15] mmindje commented on #57
Dear Helen, we shall be happy to depend on your availability.
We suggest this week before noon.

Thank you

On Tue, 31 May 2022 at 12:49, Helen Dallas ***@***.***> wrote:

--

*Mapendo MINDJE*
*University of Rwanda-Huye Campus*
*             Assistant lecturer (MSc Conservation biology and MSc
BioGeosciences)*
*            Team leader for Biodiversity data management*
*            Researcher affil

[2022-05-31 11:15] mmindje commented on #57
Dear @helendallas Helen, we shall be happy to depend on your availability.
We suggest this week before noon.

Thank you

[2022-05-31 11:34] helendallas commented on #57
Let's meet on friday at 10h00. I will send you a zoom link

[2022-06-03 07:53] LuckyBarahebuza opened #58 "Creation of Reptiles module"
We have started digitizing data from the biodiversity inventory of key wetlands in Rwanda and next we need to get other data from: 1. Hallard Hinckel, 2. ARCOS, etc.

[2022-06-03 09:25] helendallas opened #59 "Check endemism names in master lists for all taxa and upload to RBIS"
As per our meeting today, please go through the master list and check/revise the name used for endemism.  It need to be as directed in the dropdown, and should not include the description.

![image](https://user-images.githubusercontent.com/45286876/171827498-ed806467-9541-4c5d-b587-9d0ca71d525b.png)

Here is a revised template that you can use to guide your updates.

[RBIS Master List of Taxa Tem

[2022-06-03 09:47] Thacien1 commented on #59
Thank you so much @helendallas. We are going to work on it.
Regards,

Thacien

[2022-06-13 11:31] helendallas opened #60 "Add Physico-chemical variables to Chemistry unit table in Admin"
@helendallas Needs to show the data team how to add variables to the Chemistry unit table, so that physico-chemical data can be bulk upload and individually uploaded.

![image](https://user-images.githubusercontent.com/45286876/173344539-a0635727-6bb6-440c-b0d6-137654e477be.png)

[2022-06-13 11:33] helendallas commented on #44
I suggest we close this ticket as it is not possible to update GBIF site descriptions as they will be overwritten once data are harvested again from GBIF

[2022-06-13 11:33] #44 closed, assigned to mmindje

[2022-06-13 11:35] helendallas commented on #55
A physico-chemical template has been created for bulk uploading of data.  The list of variables is that created for FBIS, but the RBIS data team may want to customise based on the variables they add to the Chemistry Unit table. Please see ticket #60

Here it is:
[RBIS Physico_chemical_template.xlsx](https://github.com/mmindje/Data-management-FRC-RBIS/files/8890626/RBIS.Physico_chemical_template.xl

[2022-06-13 11:54] bimeobed commented on #44
@mmindje now it ok . You are right

[2022-08-29 07:11] helendallas commented on #59
Moring @mmindje @Thacien1

There are still issues with the master list and endemism categories. Please can we discuss today.

Please refer to the email sent on the 23 Aug 2022.

[2022-08-29 12:11] #3 closed, assigned to helendallas, mmindje, Deborahcyu, Thacien1